@import '../../styles/variables.scss';

.header {
  @include flexCenter(space-around);
  flex-wrap: wrap;
  height: auto;
  padding: 4rem 1rem 0px 1rem;
  background-color: $backgroundHeader;

  img {
    height: 25vw;
  }
}

.search-side {
  @include flexCenter(center);
  flex-direction: column;
  h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.4em;
    text-align: center;
  }
}

.main-info {
  @include flexCenter(center);
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 4rem;

  h2 {
    text-transform: uppercase;
  }
}

@media (max-width: 1020px) {
  .header {
    img {
      height: 40vw;
    }
  }
}

@media (max-width: 600px) {
  .header {
    img {
      height: 50vw;
    }
  }

  .main-info {
    h2 {
      text-transform: uppercase;
      text-align: center;
    }
  }
}
