@import '../../styles/variables.scss';

nav {
  @include flexCenter(space-around);
  background-color: $backgroundNavbar;
  a {
    text-decoration: none;
    letter-spacing: 1px;
    color: black;
  }
}

.logo {
  h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

@media (max-width: 600px) {
  nav {
    a {
      display: none;
    }
  }
}
