@import '../../styles/variables.scss';

footer {
  @include flexCenter(space-around);
  background-color: $backgroundFooter;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;

  flex-wrap: wrap;
  p {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
