.search {
  padding: 1rem;
  background-color: aqua;

  input {
    border: none;
    border-bottom: 3px solid black;
    height: 3rem;
    width: 23rem;
    padding: 4px 4px 0px 4px;
    font-size: 1.3rem;
  }
}
